footer.footer
	.footer__container.container 
		.footer__content
			.footer__row.footer__row--1 
				.footer__column.footer__column--1 
					.footer__wrapper
						img.footer__logo(src="@img/logo.png", alt="" width="70" height="55")
						.footer__texts
							.footer__subtitle НАТЯНЕМ.РФ
							.footer__text Натяни - не тяни!
				.footer__column.footer__column--2 
					.footer__contacts
						.footer__contact
							a(href="tel:+79361235123") 8 (936) 123-5-123
						.footer__contact 
							a(href="mailto:natyanem.rf@mail.ru") natyanem.rf@mail.ru
				.footer__column.footer__column--3 
					.footer__links 
						.footer__links-title Подписывайтесь
						.footer__links-icon 
							a.footer__link(href="" target="_blank")
								img(src="@img/icons/tg.svg", alt="" width="30" height="30")
							a.footer__link(href="https://www.instagram.com/natyanem_rf?utm_source=qr&igsh=OGU0MmVlOWVjOQ==" target="_blank")
								img(src="@img/icons/inst.svg", alt="" width="30" height="30")
								span *
							a.footer__link(href="https:vk.com/natyanem_rf" target="_blank")
								img(src="@img/icons/vk.svg", alt="" width="30" height="30")
			.footer__row.footer__row--2
				.footer__copyright 2024
				.footer__dev Разработка сайта - 
					a(href="mailto:restspread@gmail.com") restspread