head 
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	title Натянем.рф - натяжные потолки в Москве
	<meta name="description" content="Установка натяжных потолков в Москве и Подмосковье любой сложности и вида! Честно, быстро и недорого! Замер, скидки и гарантии!"> 
	<meta name="Keywords" content="натяжные потолки, потолки натяжные Москва, натяжные потолки цены, натяжные потолки фото, натяжные потолки каталог, натяжные потолки установка, натяжные потолки для дома, натяжные потолки для офиса, натяжные потолки с подсветкой, натяжные потолки 3D-дизайн, натяжные потолки экологичные материалы, натяжные потолки гарантия, натяжные потолки быстрый монтаж, натяжные потолки профессиональный сервис"> 
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
	link(rel="stylesheet" href="css/style.min.css")
	link(rel="apple-touch-icon" sizes="180x180" href="./files/favicon/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="./files/favicon/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="./files/favicon/favicon-16x16.png")
	link(rel="manifest" href="./files/favicon/site.webmanifest")
	link(rel="mask-icon" href="./files/favicon/safari-pinned-tab.svg" color="#429eb8")
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#333333">