header.header 
	.header__container.container 
		.header__content
			.header__wrapper
				img.header__logo(src="@img/logo.png", alt="" width="80" height="65")
				.header__titles 
					.header__title НАТЯНЕМ.РФ
					.header__subtitle Натяни - не тяни!
			.header__info 
				img.header__avatar(src="@img/avatar.png", alt="" width="68" height="68")
				p.header__text Есть вопросы? Позвоните нам!
				a.header__tel(href="tel:+79361235123") 8 (936) 123-5-123