.promo {
	&__container {
		padding-top: 225px;
		padding-bottom: 260px;
	}
	&__content {
		position: relative;
	}
	&__title {
		max-width: 775px;
		font-family: var(--second-family);
		font-weight: 400;
		// font-size: 65px;
		font-size: clamp(26px, 5vw, 65px);
		line-height: 101%;
		text-transform: uppercase;
		color: $text-white;
		margin-bottom: 100px;
	}
	&__subtitle {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 30px;
		color: $white;
		margin-bottom: 100px;
	}
	&__btn {
		margin-bottom: 20px;
	}
	&__images {
		width: 322px;
		height: 328px;
		position: absolute;
		top: -100px;
		right: 190px;
	}
	&__img {
		border: 8px solid $bg;
		border-radius: 15px;
		position: absolute;
		&--1 {
			top: 0;
			left: 0;
		}
		&--2 {
			top: 110px;
			left: 210px;
		}
		&--3 {
			top: 350px;
			left: 90px;
		}
	}
}

@media screen and (max-width: 1330px) {
	.promo {
		&__images {
			width: calc(140px + (322 - 140) * ((100vw - 800px) / (1330 - 800)));
			top: calc(0px + (-100 - 0) * ((100vw - 800px) / (1330 - 800)));
		}
		&__title {
			max-width: calc(400px + (775 - 400) * ((100vw - 800px) / (1330 - 800)));
		}
		&__img {
			&--1 {
				max-width: calc(200px + (298 - 200) * ((100vw - 800px) / (1330 - 800)));
			}
			&--2 {
				max-width: calc(224px + (322 - 224) * ((100vw - 800px) / (1330 - 800)));
				left: calc(120px + (210 - 120) * ((100vw - 800px) / (1330 - 800)));
			}
			&--3 {
				max-width: calc(205px + (365 - 205) * ((100vw - 800px) / (1330 - 800)));
				top: calc(220px + (350 - 220) * ((100vw - 800px) / (1330 - 800)));
				left: calc(50px + (90 - 50) * ((100vw - 800px) / (1330 - 800)));
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.promo {
		&__container {
			padding-top: 120px;
			padding-bottom: 120px;
		}
	}
}

@media screen and (max-width: 500px) {
	.promo {
		&__container {
			padding-top: 80px;
			padding-bottom: 50px;
		}
		&__title {
			max-width: 100%;
			margin-bottom: calc(400px + (670 - 400) * ((100vw - 320px) / (500 - 320)));
		}
		&__images {
			width: 100%;
			max-width: 100%;
			right: auto;
			left: 0;
			top: 140px;
		}
		&__img {
			border: 4px solid $bg;
			&--1 {
				// max-width: 250px;
				max-width: 50vw;
			}
			&--2 {
				max-width: 50vw;
				left: auto;
				right: 0;
			}
			&--3 {
				max-width: 50vw;
				top: calc(180px + (280 - 180) * ((100vw - 320px) / (500 - 320)));
				left: calc(30px + (90 - 30) * ((100vw - 320px) / (500 - 320)));
			}
		}
	}
}
