doctype html
html(lang="ru")
	include html/head
	body
		.main
			include html/header
			include html/sections/promo
			include html/sections/ticker
			include html/sections/types
			include html/sections/after
			include html/sections/work
			include html/sections/select
			include html/sections/our
			include html/sections/call
			include html/footer
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
		script(src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js")
		script(src="js/app.min.js" type="module")