$bg: #17191a;
$text-white: #fff;
$orange: #ffab5e;
$grey: #2b2c2e;
$black: #212121;
$input-dark: #282929;

$yellow: #ffb624;
$purple: #8455f5;
$blue: #5fd8fe;
$green: #23deb2;
$white: #ffffff;
// $black: #140731;
$text-dark: #140731;
