section.after 
	.after__container.container 
		.after__content
			h2.after__title.title Ваш потолок До и После
			.after__slider 
				.after__slider-before 
					img(src="@img/after/before.jpeg", alt="Before" width="956" height="717")
				.after__slider-after 
					img(src="@img/after/after.jpg", alt="Before" width="956" height="717")
				.after__slider-change