section.call 
	.call__container.container(id="call") 
		.call__content
			h2.call__title Не знаете, какой потолок выбрать?
			p.call__text.text Позвоните или оставьте заявку в форме ниже, мы вас проконсультируем, и подберем нужную конфигурацию потолка вашей мечты!
			form.call__form(enctype="multipart/form-data")
				input.call__input.call__input-name(type="text" placeholder="Имя" required) 
				input.call__input.call__input-tel(type="tel" placeholder="Номер телефона" required)
				button.call__btn.button(type="submit") Проконсультироваться
			.call__response .