section.our 
	.our__container.container 
		.our__content
			.our__block 
				.our__block-column 
					h2.our__title Как преобразится ваш интерьер уже через несколько дней
					a.our__btn.button.anchor(href="#call") Позвонить
					p.our__text Гарантируем высокий уровень сервиса, честность нашей команды по отношению к вам и качественный монтаж, за который точно будет не стыдно. Ведь натяжные потолки - это тоже часть интерьера.
				.our__block-column 
					img.our__img-main(src="@img/our/our-2.jpg", alt="" width="620" height="620")
			.our__wrapper.swiper.swiper-4
				.our__images.swiper-wrapper.swiper-wrapper-4 
					.our__image.swiper-slide 
						img(src="@img/our/our-2.jpg", alt="" width="280" height="280")
					.our__image.swiper-slide 
						img(src="@img/our/our-3.jpg", alt="" width="280" height="280")
					.our__image.swiper-slide 
						img(src="@img/our/our-4.jpg", alt="" width="280" height="280")
					.our__image.swiper-slide 
						img(src="@img/our/our-5.jpg", alt="" width="280" height="280")
					.our__image.swiper-slide 
						img(src="@img/our/our-6.jpg", alt="" width="280" height="280")
					.our__image.swiper-slide 
						img(src="@img/our/our-7.jpg", alt="" width="280" height="280")
					.our__image.swiper-slide 
						img(src="@img/our/our-8.jpg", alt="" width="280" height="280")
					.our__image.swiper-slide 
						img(src="@img/our/our-9.jpg", alt="" width="280" height="280")
				.our__pagination.our__pagination-4.swiper-pagination