section.select 
	.select__container.container 
		.select__content
			h2.select__title.title ПОСМОТРИТЕ КАК БУДЕТ ВЫГЛЯДЕТЬ ВАШ НАТЯЖНОЙ ПОТОЛОК
			h3.select__subtitle Выберите тип натяжных потолков
			.select__inputs 
				label()
					| Матовые потолки
					input(type="radio" name="ceilType" value="matte" checked="checked")
					span.select__custom-radio
				label()
					| Глянцевые потолки
					input(type="radio" name="ceilType" value="glossy")
					span.select__custom-radio
			.select__colors 
				.select__color.select__color--1(data-color="#FFFFFF") 
				.select__color.select__color--2(data-color="#FFFF33") 
				.select__color.select__color--3(data-color="#FFFF00") 
				.select__color.select__color--4(data-color="#FFCC00") 
				.select__color.select__color--5(data-color="#FF9900") 
				.select__color.select__color--6(data-color="#FF6600") 
				.select__color.select__color--7(data-color="#FF3300") 
				.select__color.select__color--8(data-color="#FF0000") 
				.select__color.select__color--9(data-color="#FF0033") 
				.select__color.select__color--10(data-color="#FF0066") 
				.select__color.select__color--11(data-color="#FF0099") 
				.select__color.select__color--12(data-color="#FF00CC") 
				.select__color.select__color--13(data-color="#FF00FF") 
				.select__color.select__color--14(data-color="#CC00FF") 
				.select__color.select__color--15(data-color="#9900FF") 
				.select__color.select__color--16(data-color="#6600FF") 
				.select__color.select__color--17(data-color="#3300FF") 
				.select__color.select__color--18(data-color="#0000FF") 
				.select__color.select__color--19(data-color="#0033FF") 
				.select__color.select__color--20(data-color="#0066FF") 
				.select__color.select__color--21(data-color="#0099FF") 
				.select__color.select__color--22(data-color="#00CCFF") 
				.select__color.select__color--23(data-color="#00FFFF") 
				.select__color.select__color--24(data-color="#00FFCC") 
				.select__color.select__color--25(data-color="#00FF99") 
				.select__color.select__color--26(data-color="#00FF66") 
				.select__color.select__color--27(data-color="#00FF33") 
				.select__color.select__color--28(data-color="#00FF00") 
				.select__color.select__color--29(data-color="#33FF00") 
				.select__color.select__color--30(data-color="#66FF00") 
				.select__color.select__color--31(data-color="#99FF00") 
				.select__color.select__color--32(data-color="#CCFF00") 
				.select__color.select__color--33(data-color="#FFFF00") 
				.select__color.select__color--34(data-color="#CCFF66") 
				.select__color.select__color--35(data-color="#99FF66") 
				.select__color.select__color--36(data-color="#66FF66") 
				.select__color.select__color--37(data-color="#33FF66") 
				.select__color.select__color--38(data-color="#66FF99") 
				.select__color.select__color--39(data-color="#99FF99") 
				.select__color.select__color--40(data-color="#CCFF99") 
				.select__color.select__color--41(data-color="#FFFF99") 
				.select__color.select__color--42(data-color="#CCFFCC") 
				.select__color.select__color--43(data-color="#99FFCC") 
				.select__color.select__color--44(data-color="#66FFCC") 
				.select__color.select__color--45(data-color="#33FFCC") 
				.select__color.select__color--46(data-color="#00FFCC") 
				.select__color.select__color--47(data-color="#99CC99") 
				.select__color.select__color--48(data-color="#669966") 
				.select__color.select__color--49(data-color="#336633") 
				.select__color.select__color--50(data-color="#003300") 
				.select__color.select__color--51(data-color="#996633") 
				.select__color.select__color--52(data-color="#000000") 
			.select__images 
				.select__images-inner 
					.select__color-ceil
					img.select__image(src="@img/select/ceiling-matte.png", alt="" width="1270" height="896")