section.ticker 
	h2.ticker__title 
	.ticker__tickers 
		img(src="@img/ticker/ticker-1.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-2.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-3.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-4.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-5.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-6.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-1.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-2.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-3.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-4.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-5.jpg", alt="" width="303" height="163")
		img(src="@img/ticker/ticker-6.jpg", alt="" width="303" height="163")
	.ticker__container.container 
		.ticker__content
			.ticker__steps 
				.ticker__step 
					.ticker__num 01
					.ticker__text Оперативно приедем на замер и поможем с выбором
				.ticker__step 
					.ticker__num 02
					.ticker__text Сделаем качественный монтаж с гарантией 10 лет
				.ticker__step 
					.ticker__num 03
					.ticker__text Уберем за собой мусор и подарим хорошее настроение