section.types 
	.types__container.container 
		h2.types__title.title Делаем монтаж всех видов потолков
		.types__content
			.types__block 
				h3.types__subtitle Все виды фактуры потолков
			.types__wrapper.swiper.swiper-1
				.types__list.swiper-wrapper.swiper-wrapper-1 
					a(href="#types-1").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-1-1.jpeg", alt="" width="327" height="256")
						h3.types__item-title Матовые
					a(href="#types-2").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-1-2.jpg", alt="" width="327" height="256")
						h3.types__item-title Глянцевые
					a(href="#types-3").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-1-3.jpg", alt="" width="327" height="256")
						h3.types__item-title Сатин
					a(href="#types-4").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-1-4.jpg", alt="" width="327" height="256")
						h3.types__item-title Фактурные
					a(href="#types-5").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-1-5.jpg", alt="" width="327" height="256")
						h3.types__item-title Тканевые
					a(href="#types-6").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-1-6.jpg", alt="" width="327" height="256")
						h3.types__item-title Цветные
					a(href="#types-7").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-1-7.jpg", alt="" width="327" height="256")
						h3.types__item-title Фотопечать
				.types__pagination.types__pagination-1.swiper-pagination
		.types__content
			.types__block 
				h3.types__subtitle Из различных профилей
			.types__wrapper.swiper.swiper-2
				.types__list.swiper-wrapper.swiper-wrapper-2 
					a(href="#types-8").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-2-1.jpg", alt="" width="327" height="256")
						h3.types__item-title Бесщелевой Kraab 4.0
					a(href="#types-9").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-2-2.jpg", alt="" width="327" height="256")
						h3.types__item-title Парящий
					a(href="#types-10").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-2-3.jpg", alt="" width="327" height="256")
						h3.types__item-title Теневые
					a(href="#types-11").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-2-4.jpg", alt="" width="327" height="256")
						h3.types__item-title Теневые Slot 80 , Slot 40
					a(href="#types-12").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-2-5.jpg", alt="" width="327" height="256")
						h3.types__item-title Имитация теневого
					a(href="#types-13").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-2-6.jpg", alt="" width="327" height="256")
						h3.types__item-title Контурный
				.types__pagination.types__pagination-2.swiper-pagination
		.types__content
			.types__block 
				h3.types__subtitle С любым освещением
			.types__wrapper.swiper.swiper-3
				.types__list.swiper-wrapper.swiper-wrapper-3 
					a(href="#types-14").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-3-1.jpeg", alt="" width="327" height="256")
						h3.types__item-title Споты
					a(href="#types-15").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-3-2.jpeg", alt="" width="327" height="256")
						h3.types__item-title Люстры
					a(href="#types-16").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-3-3.jpg", alt="" width="327" height="256")
						h3.types__item-title Трек системы
					a(href="#types-17").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-3-4.jpg", alt="" width="327" height="256")
						h3.types__item-title Световые линии
					a(href="#types-18").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-3-5.jpg", alt="" width="327" height="256")
						h3.types__item-title Потолки с подсветкой
					a(href="#types-19").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-3-6.jpg", alt="" width="327" height="256")
						h3.types__item-title Точечные светильники
					a(href="#types-20").types__item.swiper-slide 
						.types__item-img
							img(src="@img/types/types-3-7.jpg", alt="" width="327" height="256")
						h3.types__item-title Звёздное небо
				.types__pagination.types__pagination-3.swiper-pagination
	.types__popup(id="types-1")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p 
				strong Матовые натяжные потолки 
				| - это классический вариант, который напоминает идеально отштукатуренный или покрашенный потолок. Данный вид потолка является универсальным в плане дизайна, его можно использовать в любом помещении, он хорошо впишется в любой интерьер.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-1-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-1-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-2")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p 
				strong Глянцевые натяжные потолки 
				| – альтернатива привычным матовым. Технология установки ничем не отличается. Основная задача этого вида потолков заключается в создании глубины и визуальном расширении пространства.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-2-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-2-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-3")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p Одной из разновидностей матовых потолков считается сатин. <strong>Сатиновые натяжные потолки</strong> изготавливается из прочного поливинилхлорида и значительно тоньше своих аналогов. По внешнему виду и фактуре они напоминают сатиновую ткань и так же имеют большое количество расцветок.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-3-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-3-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-4")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Фактурная пленка</strong> для натяжных потолков характеризуется наличием однотонного рельефного рисунка. Одни фактуры напоминают декоративную штукатурку, другие – фактурную ткань или гобелен. Особенно красиво фактурные натяжные потолки проявляют себя при ярком направленном освещении.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-4-1.jpeg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-4-2.jpeg", alt="" width="430" height="290")
	.types__popup(id="types-5")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p Что представляет собой <strong>тканевый натяжной потолок.</strong> Они имеют абсолютно матовую фактуру. Тканевые полотна являются премиум категорией в натяжных потолках. В отличие от ПВХ пленки ткань прочнее и может иметь только матовую и сатиновую фактуру. За счет матовой фактуры ткань на потолочном пространстве смотрится благородно.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-5-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-5-2.jpeg", alt="" width="430" height="290")
	.types__popup(id="types-6")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p Если вы предпочитаете яркие цвета и оттенки в интерьере вашей квартиры — вам идеально подойдут <strong>цветные натяжные потолки</strong>. Цветные натяжные потолки позволяют создать неординарный цветовой акцент в помещении, с их помощью можно подчеркнуть ту или иную стилевую направленность в создании интерьера. Не требуется тратить силу, время и деньги на покраску.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-6-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-6-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-7")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Фотопечать на потолок</strong> - это нанесение на ПВХ-пленку для натяжного потолка любого рисунка по вашему выбору, при помощи специальной технологии.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-7-1.jpeg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-7-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-8")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p Бесщелевые натяжные потолки — это ПВХ-потолки нового поколения с современной системой монтажа, главной особенностью которых является специальный алюминиевый профиль <strong>Kraab 4.0</strong>, плотно прижимающий потолочное полотно к стене и не оставляющий технического зазора.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-8-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-8-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-9")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p В профиль под <strong>«парящий»</strong> потолок устанавливается LED-лента требуемого цвета и мощности, которая подключается к блоку питания и, если необходимо, к диммеру и контроллеру. Светодиодная лента образует ореол свечения между двумя плоскостями, визуально отделяя потолок от стены.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-9-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-9-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-10")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Теневой профиль</strong> - это особая конструкция багета, при которой полотно примыкает к стене не плотно, а с некоторым зазором.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-10-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-10-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-11")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p Алюминиевые профили системы <strong>SLOTT</strong> высотой 80 и 40 мм соответственно, позволяют создавать функциональные элементы в тканевых и пвх натяжных потолках. Отличительная особенность: возможность регулировки ширины ниш, никаких маскировочных лент и заглушек по периметру профиля.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-11-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-11-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-12")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Имитация теневого потолка</strong> с помощью заглушки черного цвета.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-12-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-12-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-13")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Контурный профиль</strong> для натяжных потолков, представляет собой планку, в которой предусмотрено крепление светодиодной подсветки по периметру потолка. Багет для контурных натяжных потолков, изготовлен из алюминия, что обеспечивает долгую службу и сохранение четкой прямой линии свечения.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-13-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-13-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-14")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Спот</strong> — это светильник для организации направленного или рассеянного освещения. Название пошло от английского слова "spot", которое переводится как "точка". По факту это точечные приборы, излучающие мягкие ненавязчивые потоки.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-14-1.jpeg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-14-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-15")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Люстра</strong> - подвесной потолочный светильник для создания бестеневого, в отличие от точечного источника, освещения помещений.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-15-1.png", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-15-2.jpeg", alt="" width="430" height="290")
	.types__popup(id="types-16")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Трековая система освещения</strong> – это комплекс токопроводов и передвижных светильников. Система позволяет изменять положение осветительных приборов без демонтажа и переподключения.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-16-1.png", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-16-2.png", alt="" width="430" height="290")
	.types__popup(id="types-17")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Световые линии</strong> – это элементы освещения устанавливаемые на одном уровне с потолком
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-17-1.jpeg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-17-2.png", alt="" width="430" height="290")
	.types__popup(id="types-18")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Парящий потолок с подсветкой</strong> — красивое решение декоративной подсветки. При организации такой конструкции натяжной потолок устанавливается на небольшом расстоянии от стены. Из пространства между стеной и потолком будет пробиваться свет от led ленты, создавая эффект парения потолка.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-18-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-18-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-19")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p <strong>Точечными светильниками</strong> называют отдельно установленные лампы любого типа. Интервал между ними при групповом размещении, как правило, составляет 20-40 см.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-19-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-19-2.jpg", alt="" width="430" height="290")
	.types__popup(id="types-20")
		.types__popup-container 
			a.types__popup-close(href="#close") &#10006;
			p Потолки с эффектом <strong>звездного неба</strong> заметно выделяются на фоне большого разнообразия натяжных потолочных покрытий,поскольку дают возможность расслабиться, насладиться красотой ярких красок и переливов. Потолки «Звездное небо» отличаются от обычных покрытий внутренней и наружной подсветкой.
			.types__popup-images 
				.types__popup-img
					img(src="@img/types/modal/types-20-1.jpg", alt="" width="430" height="290")
				.types__popup-img
					img(src="@img/types/modal/types-20-2.jpg", alt="" width="430" height="290")
	.types__container.container
		a.types__banner.types__banner--desk(href="http://mebel-vezet.ru/" target="_blank")
			img(src="@img/banner.jpg", alt="" width="1256" height="368") 
			span Реклама
		a.types__banner.types__banner--mob(href="http://mebel-vezet.ru/" target="_blank")
			img(src="@img/banner-mob.jpg", alt="" width="460" height="253") 
			span Реклама