section.work 
	.work__container.container 
		.work__content
			h2.work__title.title Работаем на рынке уже 10 лет
			.work__blocks 
				.work__block
					h3.work__block-title Бесщелевое примыкание
					p.work__block-text Монтируем также потолки с использованием профиля Kraab без маскировочной ленты
					.work__block-img 
						img(src="@img/work/work-1.jpg", alt="" width="550" height="360")
				.work__block
					h3.work__block-title Не оставляем после себя пыли
					p.work__block-text Используем специальный пистолет, чтобы избежать сверления, а также пылесосы для мгновенной уборки пыли
					.work__block-img 
						img(src="@img/work/work-2.jpg", alt="" width="550" height="360")
			.work__blocks 
				.work__block
					h3.work__block-title Заботимся об имуществе
					p.work__block-text Аккуратно перемещаем мебель, укрываем специальной пленкой все дорогостоящие предметы и технику. Пол защищаем от повреждений.
					.work__block-img 
						img(src="@img/work/work-3.jpg", alt="" width="550" height="360")
				.work__block
					h3.work__block-title Мы всегда в тренде
					p.work__block-text Следим за новыми технологиями и применяем их. Парящие потолки, многофактурные, slot motion-системы
					.work__block-img 
						img(src="@img/work/work-4.jpg", alt="" width="550" height="360")